openapi: 3.2.0
info:
  title: Chroma Databases API
  version: 2.0.0
  contact:
    name: Chroma Support
    url: https://docs.trychroma.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  termsOfService: https://www.trychroma.com/terms
  description: 'Operations tagged Databases across 2 of this provider''s published API definitions: chroma-cloud-api-openapi.yml, chroma-server-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.trychroma.com
  description: Chroma Cloud Production
- url: http://localhost:8000
  description: Local Chroma Server
tags:
- name: Databases
  description: Database management endpoints for creating, listing, retrieving, and deleting databases within a tenant.
paths:
  /api/v2/tenants/{tenantName}/databases:
    get:
      operationId: listDatabases
      summary: List databases
      description: Returns a list of all databases within the specified tenant.
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/tenantName'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: List of databases
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Database'
      security:
      - bearerAuth: []
    post:
      operationId: createDatabase
      summary: Create a database
      description: Creates a new database within the specified tenant.
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/tenantName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatabaseRequest'
      responses:
        '200':
          description: Database created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
        '409':
          description: Database already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.trychroma.com
      description: Chroma Cloud Production
  /api/v2/tenants/{tenantName}/databases/{databaseName}:
    get:
      operationId: getDatabase
      summary: Get a database
      description: Returns an existing database by name within the specified tenant.
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/tenantName'
      - $ref: '#/components/parameters/databaseName'
      responses:
        '200':
          description: Database details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
        '404':
          description: Database or tenant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
    delete:
      operationId: deleteDatabase
      summary: Delete a database
      description: Deletes an existing database and all its collections.
      tags:
      - Databases
      parameters:
      - $ref: '#/components/parameters/tenantName'
      - $ref: '#/components/parameters/databaseName'
      responses:
        '200':
          description: Database deleted successfully
        '404':
          description: Database or tenant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.trychroma.com
      description: Chroma Cloud Production
components:
  schemas:
    Database:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the database
        name:
          type: string
          description: The name of the database
        tenant:
          type: string
          description: The tenant this database belongs to
      required:
      - id
      - name
      - tenant
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message describing what went wrong
        message:
          type: string
          description: Detailed error message
      required:
      - error
    CreateDatabaseRequest:
      type: object
      properties:
        name:
          type: string
          description: The name for the new database
      required:
      - name
    Database_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the database
        name:
          type: string
          description: The name of the database
        tenant:
          type: string
          description: The name of the tenant this database belongs to
      required:
      - id
      - name
      - tenant
  parameters:
    limit:
      name: limit
      in: query
      required: false
      description: Maximum number of items to return
      schema:
        type: integer
        minimum: 1
    tenantName:
      name: tenantName
      in: path
      required: true
      description: The name of the tenant
      schema:
        type: string
    offset:
      name: offset
      in: query
      required: false
      description: Number of items to skip before returning results
      schema:
        type: integer
        minimum: 0
    databaseName:
      name: databaseName
      in: path
      required: true
      description: The name of the database
      schema:
        type: string
    tenantName_2:
      name: tenantName
      in: path
      required: true
      description: The name of the tenant
      schema:
        type: string
        default: default_tenant
    databaseName_2:
      name: databaseName
      in: path
      required: true
      description: The name of the database
      schema:
        type: string
        default: default_database
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication for Chroma Cloud. Obtain tokens from the Chroma Cloud dashboard.
    tokenAuth:
      type: apiKey
      in: header
      name: X-Chroma-Token
      description: Static token authentication via the X-Chroma-Token header.
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using RFC 7617 with a user:password base64-encoded Authorization header.
x-refined-from:
- chroma-cloud-api-openapi.yml
- chroma-server-api-openapi.yml
